html {
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
}
/*Consider a different background - the pattern library*/
header {
	height: 120px;
  text-align: center;
}
/* general body formatting for consistency across site - font/color */
body { 
	font-family: 'Courier New';
  color: whitesmoke
	}
/*ensure images across entire width */
.full-width {
	width: 100%;	
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 14pt;
  margin: 20px;
}

p {
  padding: 20px;
}

footer h3 {
  text-align: center;
  padding: 10px;
  color: black;
  background-color: whitesmoke;
}
/* link styling */
a:link    { color: whitesmoke; }
a:visited { color: whitesmoke;   }
a:hover   { color: blanchedalmond }
a:active  { color: aquamarine;  }